.home {
    height: 100%;
    width: 100%;

    .carousel {
        width: 100%;
    }

    .container-even {
        background-color: #ffffff;
    }

    .container-odd {
        background-color: #eaeaea88;
    }

    .home-title {
        font-size: 40px;
        color: #820000;
        text-align: left;
    }

    .home-container {
        @media screen and (max-width: 600px) {
            padding: 14px;
            padding-bottom: 30px;
        }

        @media screen and (min-width: 600px) {
            padding: 50px;
        }
    }

    .home-intro {
        text-align: center;
        font-size: 50px;
        color: #000d56;
    }

    .home-subintro {
        text-align: center;
        font-size: 20px;
    }

    .home-about-info {
        font-size: 20px;
        @media screen and (max-width: 600px) {
            padding: 20px 0px;
        }

        @media screen and (min-width: 600px) {
            padding: 50px 0px;
        }
    }

    .home-about-link {
        text-align: center;
        margin-top: 20px;
    }

    .home-portfolio-info {
        font-size: 20px;
        @media screen and (max-width: 600px) {
            padding: 20px 0px;
        }

        @media screen and (min-width: 600px) {
            padding: 50px 0px;
        }

        .home-portfolio-pictures {
            width: 98%;
            height: 150px;
        }
    }

    .home-portfolio-link {
        text-align: center;
        margin-top: 20px;
    }

    .home-resume-info {
        font-size: 20px;
        @media screen and (max-width: 600px) {
            padding: 20px 0px;
        }

        @media screen and (min-width: 600px) {
            padding: 50px 0px;
        }
    }

    .home-resume-link {
        text-align: center;
        margin-top: 20px;
    }

    .home-contact-info {
        font-size: 20px;
        @media screen and (max-width: 600px) {
            padding: 20px 0px;
        }

        @media screen and (min-width: 600px) {
            padding: 50px 0px;
        }
    }

    .home-contact-link {
        text-align: center;
        margin-top: 20px;
    }

    .link-button {
        padding: 10px 20px;
        font-size: 30px;
        text-decoration: none;
        background-color: #0000002e;
        border-radius: 10px;
        color: #fff;
        border: 2px solid #404040;

        &:hover, &:active {
            background-color: #fff;
            color: #000;
        }
    }
}