.home {
    height: 100%;
    width: 100%;

    .carousel {
        width: 100%;
    }

    .home-intro {
        text-align: center;
        font-size: 30px;
    }

    .home-about {
        font-size: 20px;
        margin: 50px;
    }
}